telethon
pandas
reportlab
matplotlib
pytz
tzlocal
Pillow
folium
spaCy
datetime
colorama
cryptg
validate_email_address
networkx
openpyxl
transformers
beautifulsoup4
Flask
selenium
pymongo
python-dotenv