PHONE_NUMBER = "your_phone_number(international format, starting with +82...)"
TELEGRAM_API_ID = "your_telegram_api_id(see https://my.telegram.org/apps)"
TELEGRAM_API_HASH = "your_telegram_api_hash(see https://my.telegram.org/apps)"

DB_USERNAME = "your_mongodb_username"
DB_PASSWORD = "your_mongodb_password"
DB_IP = "your_mongodb_ip"
DB_PORT = "your_mongodb_port"
DB_NAME = "your_database_name"

NEO4j_URI = "your_neo4j_remote_uri" # 원격 Neo4j 인스턴스 URI (Aura)
NEO4J_USERNAME = "your_neo4j_username" # Aura 인스턴스 생성 시 받은 neo4j username
NEO4J_PASSWORD =  = "your_neo4j_password" # Aura 인스턴스 생성 시 받은 neo4j password

GOOGLE_APPLICATION_CREDENTIALS = "your/path/to/credential/json"
GCS_BUCKET_NAME = "retriever-bucket"
SERPAPI_KEY="your_serpapi_key"

OPENAI_API_KEY = "your_openai_api_key"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="pr-sweaty-stump-94"